*{
	margin:0px;
    padding: 0px;
}
/* 防止闪烁 */
[v-cloak]{
    display: none;
}
body{
    height: 100%;
    width: 100%;
}
/* 头部 */
.myHead{
    height: 20px;
}
.myHeadText{
    margin-top: -20px;
    font-size: 38px;
}
/* 主体 */
.myContainer{
    padding-top: 20px;
    height:100%;
}
.myNav{
    width: 100%;
}
.myNavText{
    text-align: center;
    text-align-last: justify;
    padding: 5px 60px;
    border-radius: 7px;
    cursor:pointer ;
    background-color: thistle;
}
.myNavText:hover{
    background-color: #efefef;
  }
.contentBody{
    width: 100%;
    height: 100%;
    padding: 5px 10px;
}
/* 底部 */
.myFooter{
    padding: 2px 0;
    margin-bottom: -20%;
    height: 6%;
}
.myFooterText{
    height: 5px;
    font-size: 2px;
    font-style: unset;
    color: teal;
}